*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f6f4f4;
    color: #333;
    padding: 20px;
}
h1 {
    color: #007BFF;
    margin-bottom: 20px;
}